{% extends "paginasweb/modelos/index.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <span class="text-gradient d-inline">
                {{ titulo }}
            </span>
         </div>
    </div>
</header>
{% endblock header %}


{% block conteudo %}

<style>
    form {
        font-size: 120%;
    }
</style>

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="fs-5 fw-light text-muted mb-4">
            * Campos obrigatórios
        </div>

        
        <form action="" method="post">
            
            {% csrf_token %}
            
            {{ form|crispy }}

            <p class="text-center">

                <button type="submit" class="btn btn-success m-2">
                    Salvar
                </button>
                <!-- Botão de voltar pelo histórico do js -->
                <button type="button" class="btn btn-outline-dark m-2" onclick="history.back()">
                    Voltar
                </button>
            </p>
            
        </form>
        
    </div>
</div>

{% endblock conteudo %}
