{% extends "paginasweb/modelos/index.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h4 class="display-4 fw-bolder">{{ titulo }}</h4>
        </div>
    </div>
</header>
{% endblock header %}

{% block conteudo %}

<style>

    form {
        font-size: 120%;
    }
    .outer-container {
        min-height: calc(100vh - 400px); /* Ajuste conforme a altura do header e footer */
        display: flex;
        flex-direction: column;
    }
    .inner-container {
        flex-grow: 1;
    }
</style>

<div class="outer-container">
    <div class="inner-container container mt-5 mb-5">
    <div class="row justify-content-center align-items-center flex-grow-1">
        <div class="col-lg-6">
        {% if request.user.is_authenticated %}
            <h4 class="mt-4 text-danger">Você já está autenticado!</h4>
            Redirecionando para a página inicial em 5 segundos...
            <meta http-equiv="Refresh" content="5; url={% url 'index' %}" />
        {% else %}

            <div class="fs-5 fw-light text-muted mb-4">
                * Campos obrigatórios
            </div>

            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <p class="text-center">
                    <button type="submit" class="btn btn-success m-2">
                        Entrar
                    </button>
                    <button type="button" class="btn btn-outline-dark m-2" onclick="history.back()">
                        Voltar
                    </button>
                </p>
            </form>
            {% endif %}
        </div>
    </div>

  </div>
    </div>

{% endblock conteudo %}
