{% extends "paginasweb/modelos/index.html" %}

{% load static %}

{% block titulo %}
<title>Sobre - Diagramas e Modelagem</title>
{% endblock titulo %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sobre o Projeto</h1>
            <p class="lead fw-normal text-white-50 mb-0">Entenda o propósito e os conceitos por trás do uso de diagramas</p>
        </div>
    </div>
</header>
{% endblock header %}

{% block conteudo %}
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2 class="fw-bolder mb-4">Descrição do proejto</h2>  
                <p class="lead fw-light mb-4">Falar do objetivo e funcionalidades</p>
                <p class="mb-4">
                    Aqui você vai descrever o seu software, considerando o objetivo geral e os objetivos específicos, podendo listá-los.
                </p>
                <div class="">
                    <h3 class="fw-semibold mb-3">Diagrama de Caso de Uso</h3>
                    <p>Um <strong>Diagrama de Caso de Uso</strong> é uma ferramenta visual que descreve a funcionalidade de um sistema do ponto de vista do usuário (ou "ator"). Ele mostra:</p>
                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item"> <strong>Atores:</strong> Quem ou o quê interage com o sistema.</li>
                        <li class="list-group-item"><strong>Casos de Uso:</strong> As tarefas específicas que os atores podem realizar com o sistema.</li>
                        <li class="list-group-item"><strong>Relacionamentos:</strong> Como os casos de uso se relacionam entre si e com os atores (ex: inclusão, extensão, generalização).</li>
                    </ul>
                    <p>Em resumo, ele responde à pergunta: <strong>"O que o sistema faz?"</strong> e para quem. É útil para entender os requisitos do sistema e definir seu escopo.</p>
                </div>

                <div class="">
                    <h3 class="fw-semibold mb-3">Diagrama de Classes</h3>
                    <p class="">Um <strong>Diagrama de Classes</strong> é um tipo de diagrama estrutural da UML (Linguagem Unificada de Modelagem) que descreve a estrutura estática de um sistema, 
                        mostrando suas classes, atributos, métodos e relacionamentos entre elas. Ele mostra:</p>
                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item"> <strong>Classes:</strong> Representam os objetos do sistema e seus dados.</li>
                        <li class="list-group-item"><strong>Atributos:</strong> As características dos objetos (ex: nome, idade).</li>
                        <li class="list-group-item"><strong>Métodos:</strong> As ações que os objetos podem realizar (ex: calcular, exibir).</li>
                        <li class="list-group-item"><strong>Relacionamentos:</strong> Como as classes se relacionam entre si (ex: associação, herança, agregação, composição).</li>
                    </ul>
                    <p>Em resumo, ele responde à pergunta: <strong>"Como o sistema é estruturado?"</strong>. É útil para modelar a arquitetura do software e facilitar a comunicação entre desenvolvedores.</p>
                    <p class="text-center bg-white p-4">
                        <img src="{% static "img/diagrama_classe.png" %}" alt="" class="img-fluid">
                    </p>
                </div>



                <h3 class="fw-semibold mt-5 mb-3">Conclusão</h3>
                <p>Utilizar diagramas é uma prática essencial para equipes que desejam desenvolver sistemas de forma clara, organizada e eficiente. Eles promovem alinhamento, reduzem erros e otimizam a comunicação técnica.</p>
            </div>
        </div>
    </div>
</section>
{% endblock conteudo %}